@model PorbarWebApp.Models.Address


<h1>Details</h1>

<div>
    <h4>Address</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MainStreet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MainStreet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alley)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alley)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostalCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostalCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlateNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlateNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnitNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnitNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
