@model IEnumerable<PorbarWebApp.Models.Address>


<h1>آدرس</h1>

<p>
    <a asp-action="Create">آدرس جدید</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MainStreet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Alley)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostalCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlateNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MainStreet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Alley)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostalCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlateNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitNumber)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
